<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Cadastro de Usuário</h2>
    
    <form name="usuario" ng-submit="enviarForm(usuario)" novalidate>
      <label class="item item-input">
        <span class="input-label">Nome:</span>
        <input  type="text" placeholder="digite seu nome" ng-model="usuario.nome" required />
      </label>
      
      <label class="item item-input">
        <span class="input-label">E-mail:</span>
        <input type="email" placeholder="digite seu e-mail" ng-model="usuario.email" />
      </label>
      
      <label class="item item-input">
        <span class="input-label">Senha:</span>
        <input type="password" placeholder="digite sua senha" ng-model="usuario.senha" />
      </label>
      
      <label class="item item-input">
        <span class="input-label">Data de Nascimento:</span>
        <input type="date" ng-model="usuario.nascimento"/>
      </label>
      
      <ion-list>
        <ion-radio ng-model="usuario.sexo" ng-value="feminino">Feminino</ion-radio>
        <ion-radio ng-model="usuario.sexo" ng-value="masculino">Masculino</ion-radio>
        <ion-radio ng-model="usuario.sexo" ng-value="outro">Outro</ion-radio>
      </ion-list>
      
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Enviar</button>
      </div>      
      
         
    </form>
    <div class="padding">
        <button class="button button-block button-positive" ng-click="buscaAPI()" >Enviar</button>
      </div>
  </ion-content>
</ion-view>
